body{
    padding: 0px;
    margin: 0px;
}
.register1{
    height: 550px;
    width: 40%;
    background-color: wheat;
    margin-top:50px;
    margin-left: 30%;
    border-radius: 30px;
    opacity: 0.5px;
}
h1{
    color: maroon;
    text-align: center;
    margin-top: 0px;
    font-size:2.5vw;
    padding-top: 4%;
}
input{
    text-align: center;
}
.register1 input{
     border: none;
    border-bottom: 1px solid maroon;
    background: transparent;
    outline: none;
    height: 40px;
    margin-left: 5%;
    width:90%;
    color: #fff;
    font-size: 1vw;
}
.register1 input[type="submit"]
{
    border: none;
    outline: none;
    height: 65px;
    color: #fff;
    font-size: 2vw; 
    border-radius:20px;
    width: 60%;
    margin-left: 20%;
    background-color: maroon;
}
.register1 input[type="submit"]:hover
{
    cursor: pointer;
    background-color: red;
}



